.about-us {
  &__disclaimer {
    font-weight: 300;
    font-size: 18px;
    line-height: 178%;
    margin-bottom: 48px;
    color: #5b637b;
  }

  &__image {
    margin-bottom: 23px;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 32px;
  }

  &__description:hover {
    color: #0057be;
  }

  &__sub-list {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  &__sub-item {
    display: flex;
    gap: 24px;
  }

  &__title {
    font-family: (--second-family);
    font-style: normal;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey);
    margin: 0;
  }

  &__card-name {
    font-family: (--second-family);
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 23px;
  }

  &__card-name span {
    font-style: italic;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 160%;
    display: flex;
    text-align: center;
    gap: 12px;
    margin-bottom: 23px;
  }

  &__item span {
    color: #000223;
    align-items: center;
    margin: 0;
  }

  &__sub-list {
    padding: 0;
  }

  &__sub-item {
    align-items: center;
    cursor: pointer;
  }

  &__sub-item:hover path {
    stroke: var(--blue);
  }

  &__sub-list span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--darkblue);
  }

  &__button {
    margin-bottom: 80px;
    background: var(--white);
    color: var(--darkblue);
    border: 1px solid var(--grey);
  }

  &__button:hover {
    border: none;
  }
}
