.modal-card {
  width: 832px;
  padding-top: 40px;

  &__disclaimer {
    font-weight: 300;
    font-size: 18px;
    line-height: 178%;
    color: #5b637b;
    margin-bottom: 25px;
  }

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: 000223;
  }

  &__input {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #5b637b;
  }

  &__checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #4a4a49;
  }

  &__link {
    color: #03b6fc;
  }
}
