.button {
    padding: 12px 24px;
    background: var(--lightblue);
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    border: none;
  
    &:hover {
      transition: all 0.6s;
      background: var(--blue);
    }
  }
  